.studies-page{
    background-color: #f5f4fc;
    height: 100%;
}
.projects-header-lane{
    margin: 79.80px 0 70px;

}
.blue-color{
    color: #4831d4;
}
.projects-header-title, .projects-header-info{
    font-family: 'SF UI Text Regular', "Helvetica Neue", "Segoe UI", "Open Sans", sans-serif;
    color: rgb(71, 71, 71);
}

.projects-header-title{
    display: none;
    font-size: 32px;
    line-height: 37px;
    font-weight: 700;
    margin: 0;
}
.projects-header-title span{
    color: rgba(123,123,125,255);
}
.projects-header-info{
    display: flex;
    justify-content: center;
    font-size: 17px;
    line-height: 29px;
    margin: 18px 0 22.5px;
}
.studies-body{
    font-family: 'SF UI Text Regular', "Helvetica Neue", "Segoe UI", "Open Sans", sans-serif;
    color: rgb(71, 71, 71);
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap:wrap ;
    padding: 0 clamp(12px, 8.9vw, 70px);
    max-width: 1300px;
    margin: auto;
    min-height: 100vh;
}

.study-container{
    cursor: pointer;
    text-decoration: none;
    color: rgb(71, 71, 71);
    /* border: 1px solid #4831d4; */
    padding-left: 20px;
    padding-right: 20px;
    flex-basis: 100%;
    height: 288px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns: auto width for date-level and 1fr width for the rest */
    grid-template-rows: minmax(auto, 150px) 30px 30px;
    align-items: center;
    background-color: #fbfbfb;
    transition: transform 0.3s, box-shadow 0.3s;
}
.study-container:hover {
    transform: translateY(-2%);
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.08);
}

.title-type{
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: column;
}

.study-title{
    font-family: 'SF UI Text Bold', "Helvetica Neue", "Segoe UI", "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 34px;
}

.study-type-provider{
    grid-column: 1 / span 2;
}

.study-cert{
    grid-column: 1 / span 2;
    color: rgb(107, 23, 230);
    font-size: 17px;
    line-height: 29px;
    text-decoration: none;
}

@media only screen and (min-width: 650px){
    .projects-header-title{
        display: flex;
        justify-content: center;
    } 
}
@media only screen and (min-width: 658px){
    .studies-body{
        gap: 20px;
    }
    .study-container{
        height: 306px;
        flex-basis: 48%;
    }
}
@media only screen and (min-width: 938px){
    .study-container{
        flex-basis: 31%;
    }
}