.single-project-page{
    background-color: #f5f4fc;
    height: 100%;
}
.single-project-header-lane{
    margin: 79.80px 0 70px;

}
.blue-color{
    color: #4831d4;
}

.single-project-header-title{
    font-family: 'SF UI Text Regular', "Helvetica Neue", "Segoe UI", "Open Sans", sans-serif;
    color: rgb(71, 71, 71);
    display: flex;
    justify-content: center;
    font-size: 32px;
    line-height: 37px;
    font-weight: 700;
    margin: 0;
}

.single-project-header-title span{
    color: rgba(123,123,125,255);
}
.single-product-body{
    padding: 0 clamp(12px, 8.9vw, 70px);
    font-family: 'SF UI Text Regular', "Helvetica Neue", "Segoe UI", "Open Sans", sans-serif;
    color: rgb(71, 71, 71);
    font-size: 17px;
    line-height: 29px;
    max-width: 1400px;
    margin: 0 auto;
}

.single-project-title{
    font-family: 'SF UI Text Bold', "Helvetica Neue", "Segoe UI", "Open Sans", sans-serif;
    margin-top: 40px;
    margin-bottom: 0;
}   

.single-project-info{
    margin-top: 17px;
    margin-bottom: 21.25px;
}

@media only screen and (min-width: 650px){
}
@media only screen and (min-width: 658px){

}
@media only screen and (min-width: 938px){

}

@media only screen and (min-width: 1200px){
    .single-product-body{
        padding: 0 130px;
    }
}
@media only screen and (min-width: 1300px){
    .single-product-body{
        padding: 0 180px;
    }
}
@media only screen and (min-width: 1400px){
    .single-product-body{
        padding: 0 230px;
    }
}
